.availableMembers{
    min-width: 250px;
    min-height: 250px;
}

.selectedMembers{
    min-width: 250px;
    min-height: 250px;
}

.form-control {
    max-width: 250px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

.custom-select {
    -webkit-appearance: menulist-button;
    appearance: menulist-button;
}

.login-container{
    margin: 0 auto;
    max-width: 485px;
    margin-top: 15px;
    margin-bottom: 15px;
}