.wrong-login-data {
    border: 1px solid #F54A66;
    border-radius: 10px;
    background-color: #F54A66;
    box-shadow: 3px 3px 5px 2px;
    margin-bottom: 3px;
}

.container-wrong-login-data-text {
    padding: 5px;
}